<div class="bg-black bg-fullblack py-6 mb-5 dpp-result">
  <img class="result-bg" src="static/doingOK-results.jpg">
  <div class="container">
    <div class="row columns-valign-center">
      <div class="col-lg-6">
        <span class="yellow-text font-bold mb-2">Your results</span>
        <h2>It seems you may want to do things&nbsp;differently.</h2>
      </div>
    </div>
  </div>
</div>
<div class="container pt-5">
  <div class="row">
    <div class="col-lg-8 first-col">
      <h4>
        It’s hard making data work for your business, but there’s an easier way
      </h4>
      <p class="pt-3">
        You’re no stranger to data. You use it—and so do your teams. But you often feel that your BI tool isn’t currently structured to bring you or your teams insights and intelligence when you need them most. You’re not alone. According to a recent IDC survey, ease of use issues lead to infrequent use of analytics. How infrequent? More than half of all surveyed organizations say they only use their BI and analytics solutions on a monthly—or quarterly—basis.

      </p>
      <p>
        Like you, they’re ready for a change. Read the IDC survey to learn more about the value other business leaders feel they’re getting—or not getting—from their BI&nbsp;solutions.
      </p>
    </div>
    <div class="col-lg-4 align-self-baseline">
      <div class="p-5 card">
        <h4 class="mb-5">Discover an entirely different BI partner</h4>
        <p class="mb-5">
          Learn how you can effortlessly glean insights and power your organization with&nbsp;data.
        </p>
        <a href="#" class="action-btn">Discover Sisense</a>
        <a class="" @click="restart()">Start over</a>
      </div>
    </div>
  </div> 
</div>