
<div class="bg-black bg-fullblack py-6 mb-5 dpp-result">
  <img class="result-bg" src="static/feelingReady-results.jpg">
  <div class="container">
    <div class="row columns-valign-center">
      <div class="col-xl-8 col-lg-6">
        <span class="yellow-text font-bold mb-2">
          Your results
        </span>
        <h2>
          It seems like you feel pretty good about how your team uses BI and&nbsp;data.
        </h2>
      </div>
    </div>
  </div>
</div>
<div class="container pt-5 dpp-result-content">
  <div class="row">
    <div class="col-lg-8 first-col">
      <h4>
        Get ready to feel great about&nbsp;it
      </h4>
      <p class="pt-3">
        You know how to put analytics to work and use it to drive results. Your teams look to your data and BI platform to make important decisions—and your entire organization is fueled by BI. But, if you’re like many of your peers, you may be looking for more from your platform. Nearly 75% of the business leaders that responded to a recent IDC survey say they’re planning on adding a second BI solution within the next two years. Why? More than half of all surveyed organizations say they only use their BI and analytics solutions on a monthly—or quarterly—basis.
      </p>
      <p>
        For them (and you) having strong analytics at the necessary times is just the beginning—the end goal is an always-on approach to analytics that informs every decision, big or&nbsp;small. 
      </p>
      <p>
        Fortunately, now there are all-new ways to infuse data into every level of your operations to drive greater business success. Read the IDC survey to learn more about the value other business leaders feel they’re getting—or not getting—from their BI&nbsp;solutions.
      </p>
    </div>
    <div class="col-lg-4 align-self-baseline mt-md-5">
      <div class="p-5 card">
        <h4 class="mb-5">Infuse analytics everywhere</h4>
        <p class="mb-5">
          Unlike other BI platforms, Sisense infuses analytics seamlessly into workflows so it’s there when you need&nbsp;it.
        </p>
        <a href="#" class="action-btn">Discover&nbsp;Sisense</a>
        <a class="" @click="restart()">Start over</a>
      </div>
    </div>
  </div> 
</div>