<img class="home-bg" src="static/homebg.png"/>
<div class="container">
  <div class="row  columns-valign-center">
    <div class="col-lg-7">
      <h1>
        How do your analytics capabilities measure&nbsp;up?
      </h1>
    </div>
    <div class="col-lg-5">
    </div>
    <div class="col-lg-7 mb-3">
      <p>
        More than half the respondents to a recent survey by IDC say they’re looking to add to or replace their BI solution within the next two years. Take this quiz to see how your analytics capabilities compare.
      </p>
      <p>
        <a @click="activeslide += 1" class="mt-5 action-btn">
          Start now
        </a>
      </p>
    </div>
  </div>
</div>