<div class="container">
  <div class="row  columns-valign-center">
    <div class="col-md-8">
      <h2>
        Harness the power of analytic infusion with the leading cloud analytics platform
      </h2>
      <p>
        Sisense Fusion is the leading AI-driven embedded analytics platform that infuses intelligence at the right place and the right time, every time
      </p>
      <p>
        <a @click="activeslide += 1">
          <span class="animarrow">
            Explore the platform
          </span>
        </a>
      </p>
    </div>
  </div>
</div>