---
layout: "base.njk"
---

{% set navPages = collections.all | eleventyNavigation %}

<main id="datapainpoints">
  {# <div class="absolute bg-yellow">
    <h2>testing options:</h2>
    <a @click="skiptoend()">skip to "doingok"</a> | 
    <a @click="skiptoend('a')">skip to "feeling ready"</a>
  </div> #}
  <section id="dpp-home" class="bg-fullblack bg-black" :class="activeslide < 1 ? 'active' : 'inactive'">
    {% include '_partials/home.njk' %}
  </section>
  
  <section id="dpp-quiz" class="quiz bg-black" :class="(activeslide > 0 && activeslide <= questions.length) ? 'active' : 'inactive'" :date-time="time">
      {% include '_partials/questionsSlide.njk' %}
  </section>

  <section id="results" class="pb-6" v-if="activeslide > questions.length" :class="activeslide > questions.length ? 'active' : 'inactive'">
    <div class="ready" v-if="result === 'feelingReady'">
      {% include '_partials/feelingReady.njk' %}
    </div>

    <div class="ok" v-if="result === 'doingOK'">
      {% include '_partials/doingOK.njk' %}
    </div>

  </section>

</main>

<script>
var questions = {% include './_data/questions.json' %};
var dpp = new Vue({
  el: '#datapainpoints',
  data: {
    questions,
    activeslide: 0,
    scoretoreach: 10,
    answeredscore: {},
    answeredquestions: {},
    time: Date.now(),
  },
  computed: {
    score() {
      return Object.values(this.answeredscore).reduce((a,b) => a + b)
    },
    result() {
      if (this.score >= this.scoretoreach) {
        return 'feelingReady';
      }
      return 'doingOK';
    }
  },
  methods: {
    setAnswer(questionindex, answerindex){
      let questionslot = `q${questionindex}`;
      this.answeredscore[questionslot] = this.questions[questionindex].answers[answerindex].weight;
      this.answeredquestions[questionindex] = this.questions[questionindex].answers[answerindex].answertext;
      console.log(this.answeredquestions[questionindex], this.questions[questionindex].answers[answerindex].answertext);
      this.reload();
    },
    reload() { this.time = Date.now(); },
    skiptoend(a) {
      if (a) {
        this.answeredscore = {"q0":2,"q1":2,"q2":2,"q3":2,"q4":2,"q5":2,"q6":2};
      } else {
        this.answeredscore = {"q0":0,"q1":0,"q2":0,"q3":0,"q4":0,"q5":0,"q6":2};
      }
      this.activeslide = this.questions.length + 1;
    },
    restart() {
      this.answeredscore = {};
      this.answeredquestions = {};
      this.activeslide = 0;
    }
    
  }
});
</script>